
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr-text: #dbd8e3;
    --clr-3thbg:#1c232c; 
    --clr-2ndbg:#0f141c; 
    --clr-1stbg:#0f141c;
    --clr-text2:#ff4580;
    --clr-selc:#211c2c; 
    --clr-selbg:rgb(78, 128, 127);


}
::selection {
    color: var(--clr-selc);
    background: var(--clr-selbg);
  }
body{
    background: var(--clr-2ndbg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*==== Navbar style  ====*/
nav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #070b1028; 
    backdrop-filter: blur(20px); 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav li {
    margin: 8px 10px;
}

nav ul li a {
    text-decoration: none;
    color: #d9d1f0;
    font-size: 16px;
    transition: 0.5s;
}

nav ul li a:hover {
    /* color: var(--clr-text2); */
    color: var(--clr-text2);
}

nav li:first-child {
    margin-right: auto;
}

nav li:first-child a {
    color: var(--clr-text2);
    font-size: 22px;

}

/*=== Navbar style END ====*/

/*==== Mobile side Navbar style ====*/
.sidemenu {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 96vh;
    width: 80vw;
    border-radius: 20px;
    z-index: 999;
    background: #070b10dc;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.5s;

}

.sidemenu li {
    width: 100%;
    margin: 20px 5px;
}

.sidemenu a {
    padding: 12px 20px;
}

.menubtn {
    display: none;
}

@media(max-width:700px) {
    .hideOnmobile {
        display: none;
    }

    .menubtn {
        display: block;
    }
}

@media(max-width:400px) {
    .sidemenu {
        width: 100%;
    }
}

/*=== Mobile side Navbar style END ====*/


.about_heading{
    /* background: #cccccc; */
    display: flex;
    width: 60%;
    height: 200px;
    align-items: center;
    margin: 10vh auto auto auto;
    overflow: hidden;
}

.about_heading .about_image > img{
    width: 120px;
    border-radius: 100%;
    margin-left: 26px;
}
.about_heading .lets-talk > h2 {
    color: var(--clr-text);
    font-size: clamp(20px, 4vw, 60px);
    margin-left: 40px;
    border-bottom: 5px solid rgb(255, 166, 0);

}

.about_material{
    background: var(--clr-3thbg);
    color: var(--clr-text);
    width: 70%;
    height:fit-content;
    margin: 0 auto;
    border-radius: 5px;
}
.about_material .about_text  p{
    font-size: clamp(4px, 2vw, 14px);

}
.education .about_text > h4{
    color:rgb(99, 178, 183) ;
    padding: 20px 0 0 20px;
    font-size: 26px;
    font-weight: 700;
}
.education .about_text > p{
    padding: 30px;
    vertical-align: middle;
}
.about_container .about_material .about_text > p{
    padding: 30px;
    vertical-align: middle;
}
.about_container .about_material .about_text > h4{
    padding: 20px 0 0 20px;
    font-size: 26px;
    font-weight: 700;
    
}
.youtube mark {
    color: rgb(245, 68, 68);
    background: none;
}

.about_container .youtube .about_text > h4{
    color: var(--clr-text);
}
.about_container .marketplace .about_text > h4{
    color: rgb(4, 208, 58);
}
.about_container .buissness .about_text > h4{
    color: rgb(238, 179, 96);
}





@media (max-width: 600px){
    .about_heading{
        display: flex;
        flex-direction: column;
    }

    .about_material{
        width: 90%;
    }
    .about_material .about_text > p {
       font-size: clamp(12px, 2vw, 16px);
    }
}



/* footer bg style */
.footer_main_container {
    border-radius: 10px;
    text-align: center;
}
.footer_main_container .footer_heading{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.footer_main_container .footer_icon ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
/* footer social media text style */
.footer_main_container .footer_heading > h4 {
    margin: 0;
    margin-bottom: 20px;
    color: var(--clr-text);
}

/* footer icon style & display property fix */
.footer_main_container .footer_icon ul li {
    display: inline-block;
    margin: 0 8px;
    font-size: 30px;
    transition: 1s ease;
}
.footer_main_container .footer_icon ul li a{
    color:var(--clr-text);
}
/* footer social media icon 
forground color & vertically center */
.footer_main_container.footer_icon li i {
    transition: .5s ease-in-out;
}

.footer_main_container .footer_icon li .fa-brands:hover {    color: var(--clr-text2);
}

.footer_main_container .footer_icon p {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #5d5d5d;
}
/*