
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr-1: #4e7a94;
    --clr-2:#99adc0; 
    --clr-3:#1c232c; 
    --clr-4:#0f141c;
    --clr-5: #ff4580;
    --clr-6:#5e5e5e;
    --clr-7:rgb(78, 128, 127);
    --clr-8:#211c2c; 
    --clr-8:rgb(78, 128, 127);

}
::selection {
    color: var(--clr-3);
    background: var(--clr-1);
  }
body{
    background: var(--clr-4);
    color: #99adc0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*==== Navbar style  ====*/
nav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #070b1028; 
    backdrop-filter: blur(20px); 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav li {
    margin: 8px 10px;
}

nav ul li a {
    text-decoration: none;
    color: #d9d1f0;
    font-size: 16px;
    transition: 0.5s;
}

nav ul li a:hover {
    /* color: var(--clr-text2); */
    color: var(--clr-5);
}

nav li:first-child {
    margin-right: auto;
}

nav li:first-child a {
    color: var(--clr-5);
    font-size: 22px;

}

/*=== Navbar style END ====*/

/*==== Mobile side Navbar style ====*/
.sidemenu {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 96vh;
    width: 80vw;
    border-radius: 20px;
    z-index: 999;
    background: #070b10dc;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.5s;

}

.sidemenu li {
    width: 100%;
    margin: 20px 5px;
}

.sidemenu a {
    padding: 12px 20px;
}

.menubtn {
    display: none;
}

@media(max-width:700px) {
    .hideOnmobile {
        display: none;
    }

    .menubtn {
        display: block;
    }
}

@media(max-width:400px) {
    .sidemenu {
        width: 100%;
    }
}

/*=== Mobile side Navbar style END ====*/

.form-section {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    margin: 0 10px;
}

/* contact form heading contact text  */
.contact-h h1 {
    font-size: clamp(30px, 4vw, 50px);
    color: var(--clr-);
    margin: 20px;
}
.contact-h{
    margin-top: 11vh;
}

/*Contact Form background style  */
.form-section {
    border-radius: 5px;
    height: auto;
    width: auto;
    box-sizing: border-box;
    padding: 20px 0px 10px 20px;
}

/* Contact Form text style and
 text box  adjust */
.form-fill input, textarea{
    background: var(--clr-2);
    font-size: clamp(10px, 2vw, 20px);
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--clr-2ndbg);
}
.form-fill input::placeholder{
    text-align: left;
    padding-left: 16px;
    color: var(--clr-3);
}
.form-fill input:focus, textarea:focus{
    background-color: var(--clr-1);
    outline: none;
}
.form-fill label{
    font-size: clamp(10px, 4vw, 20px);

}
.form-fill #ss {
    max-height: 120px;
    max-width: 300px;
    min-width: 90%;
}
.form-fill >p{
    font-size: clamp(15px, 2.5vw, 30px);
}

.form-fill #fn, #ln, #em {
    min-width: 20em;
    min-height: 1.5em;
}
.form-fill #submit {
    background-color: var(--clr-4);
    color: var(--clr-2);
    width: 8em;
    height: 2em;
    border-radius: 2em;
    transition: 0.5s;
}
.form-section .contact-form .form-fill >p{
    color: #eeecec;
}
#project, #sponsorship, #both{
    font-size: 10px;
}
input[type="radio"]+label{
    font-size: clamp(10px, 2vw, 20px);
    color: var(--clr-text);
}
input[type="radio"]:checked+label{
    color:var(--clr-3thbg);
}
.form-fill #submit:hover {
    background-color: var(--clr-5);
    color:var(--clr-3);

}
/* End Contact Form text style and
 text box  adjust */

 
 /* contact form right side image 
         and this is 2nd div in section */
 
 /*Contact form personal info part BG style */
 .contact-personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
     /* background: linear-gradient( rgb(147, 119, 219), rgb(213, 179, 246)); */
     border: 0.8px solid rgb(242, 242, 242);
     max-width: 360px;
     height: 400px;
     box-sizing: border-box;
     padding-left: 10px;
     border-radius: 10px;
     margin: 0 10px;
     box-shadow: rgba(0, 0, 0, 0.142) 0px 0px 8px 1px;
    }
    .contact-personal img {
        width: 150px;
        align-self: center;
        
    }


.contact-personal > h4 {
    color: var(--clr-1);
    font-size: clamp(20px, 2.5vw, 40px);
    margin: 5px;
}
.contact-personal > h5, p {
    font-size: clamp(10px, 1.5vw, 30px);
    color: var(--clr-2);

}

@media only screen and (max-width:850px) {
    .form-fill #submit{
        font-size: 20px;
    }

    .form-fill #ss {
        min-width: 250px;
        min-height: 36px;
    }

    .form-fill #fn, #ln, #em {
        min-width: 300px;
        min-height: 36px;
  }

    .contact-personal {
        /* background: linear-gradient(170deg, rgb(198, 231, 217), rgb(242, 233, 246)); */
        border: 0.3px solid rgb(178, 178, 178);
        max-width: 300px;
        max-height: 360px;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 14px;
    }

    .contact-personal img {
        height: 150px;
        width: 150px;
    }
}
@media only screen and (max-width:650px) {
    .form-section {
        display: flex;
        flex-direction: column;

    }

    .form-fill #ss {
        min-width: 90%;
        min-height: 40px;
    }

    .form-fill #fn, #ln, #em {
        min-width: 90%;
        min-height: 40px;
  }
  .contact-personal{
    display: none;
  }

}
/* END Contact Form responsive screen size (max-width: 850px;)*/

/* Contcat form  responsive screen size (max-width: 474px;)*/
/* @media only screen and (max-width:474px) {
    .form-section {
        display: flex;
        flex-direction: column-reverse;

    }

    .contact-personal {
        border: 0.3px solid rgb(178, 178, 178);
        max-width: 250px;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .contact-personal img {
        height: 200px;
        width: 200px;
    }

    .form-fill #ss {
        max-width: 10em;
        max-height: 03em;
    }

    .form-fill #fn, #ln, #em {
        min-width: 10em;
        min-height: 1em;
    }

    .contact-personal {
        border: 0.3px solid rgb(178, 178, 178);
        max-width: 250px;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .contact-personal img {
        height: 200px;
        width: 200px;
    }

} */
/* footer bg style */
.footer_main_container {
    border-radius: 10px;
    text-align: center;
}
.footer_main_container .footer_heading{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.footer_main_container .footer_icon ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
/* footer social media text style */
.footer_main_container .footer_heading > h4 {
    margin: 0;
    margin-bottom: 20px;
    color: var(--clr-2);
}

/* footer icon style & display property fix */
.footer_main_container .footer_icon ul li {
    display: inline-block;
    margin: 0 8px;
    font-size: 30px;
}
.footer_main_container .footer_icon ul li a{
    color:var(--clr-2);
}
/* footer social media icon 
    forground color & vertically center */
.footer_main_container.footer_icon li i {
    color: var(--clr-3thbg);
    transition: 0.2s;
}

.footer_main_container .footer_icon li .fa-brands:hover {
    color: var(--clr-1);
}

.footer_main_container .footer_icon p {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #5d5d5d;
}
/*