* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --clr-text: #dbd8e3; */
    --clr-text: #4e7a94;
    --icon-clr: #99adc0;
    --clr-2ndbg: #1c232c;
    --body--clr: #0f141c;
    --clr-1stbg: #0b0811;
    --clr-text2: #ff4580;
    --clr-text3: #5e5e5e;
    --clr-text4: #d1e3e7;
    --gd-clr-main: linear-gradient(30deg, #e4e5e722, #0a122247);
    --gd-clr-second: linear-gradient(20deg, #cad4ef, #d9d1f0, #abc9e9);

}

::selection {
    color: var(--clr-2ndbg);
    background: var(--clr-text4);
}

body {
    z-index: -999;
    background: var(--body--clr);
    background: rgb(15, 21, 25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Background 2 color object */

.round-object-1 {
    position: absolute;
    background: rgb(0, 229, 255);
    height: 300px;
    width: 300px;
    border-radius: 100%;
    top: 13%;
    right: 5%;
    z-index: -1;
}

.round-object-2 {
    position: absolute;
    background: rgba(255, 36, 175, 0.462);
    height: 180px;
    width: 180px;
    border-radius: 100%;
    top: 90vh;
    right: 30vw;
    z-index: -1;
}

/*=== Background 2 color object END ====*/

/*==== Navbar style  ====*/
nav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #070b1028;
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav li {
    margin: 8px 10px;
}

nav ul li a {
    text-decoration: none;
    /* color: var(--clr-text); */
    color: #d9d1f0;
    font-size: 16px;
    transition: 0.5s;
}

nav ul li a:hover {
    /* color: var(--clr-text2); */
    color: var(--clr-text2);
}

nav li:first-child {
    margin-right: auto;
}

nav li:first-child a {
    color: var(--clr-text2);
    font-size: 22px;

}

/*=== Navbar style END ====*/

/*==== Mobile side Navbar style ====*/
.sidemenu {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 70vh;
    width: 80vw;
    border-radius: 20px;
    z-index: 999;
    background: #070b10dc;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.5s;

}

.sidemenu li {
    width: 100%;
    margin: 20px 5px;
}

.sidemenu a {
    padding: 12px 20px;
}

.menubtn {
    display: none;
}

@media(max-width:700px) {
    .hideOnmobile {
        display: none;
    }

    .menubtn {
        display: block;
    }
}

@media(max-width:400px) {
    .sidemenu {
        width: 100%;
    }
}

/*=== Mobile side Navbar style END ====*/

/*=== Hero section Style === */
.hero-section {
    z-index: 2;
    border-radius: 10px;
    background: var(--gd-clr-main);
    border: 1px solid transparent;
    box-shadow: 0 0 0 1.5px rgba(255, 255, 255, 0.248);
    backdrop-filter: blur(60px);
    height: 130vh;
    width: 96vw;
    margin: 1.5% auto;
    padding-top: 20px;
    /* approx navbar height অনুযায়ী */
    margin-top: 11vh;
}

/*==== hero section photo and heading style ===== */
.hero-area {
    /* display: flex;
    flex-wrap: wrap; */
    padding: 0;
    margin: 0 auto;
    height: 100vh;
    width: 92vw;
}

.hero-area .hero-main-image>img {
    min-width: 180px;
    width: 25vw;
    border-radius: 20px;
}

.hero-area .hero-main-image {
    min-width: fit-content;
    height: fit-content;
    background: #11141d;
    align-items: center;
    border-radius: 20px;
    border: .8px solid #848ca8;
    box-shadow: 0px 0px 10px 2px #5976918e
}

.hero-caption {
    height: 200px;
    width: 35vw;
    padding: 10px;
    background: #11141d49;
    border-radius: 20px;
    border: .8px solid #848ca8;
    box-shadow: 0px 0px 10px 2px #5976918e;

}

.hero-area .hero-caption>h2 {
    color: whitesmoke;
    font-size: clamp(16px, 2vw, 36px);
}

.hero-area .hero-caption>p {
    max-width: 300px;
    font-size: clamp(12px, 2vw, 14px);
    color: var(--clr-text4);
}

.hero-caption-social-icon ul {
    display: flex;
    list-style: none;
}

.hero-caption-social-icon ul li {
    margin: 10px 8px;
    font-size: 30px;
}

.hero-caption-social-icon ul li i {
    color: var(--icon-clr);
    transition: 0.5s ease-in-out;
}

.hero-caption-social-icon ul li:hover i {
    color: var(--clr-text4);

}

/*==== hero  section link icon hover down effect style  ==== */
.hero-caption-social-icon i:hover.fa-envelope {
    padding-top: 10px;
}

.hero-caption-social-icon i:hover.fa-whatsapp {
    padding-top: 10px;
}

.hero-caption-social-icon i:hover.fa-github {
    padding-top: 10px;
}


/*===== hero section right side hero-all-dashboard design==== */

.hero-all-dashboard {
    color: var(--clr-text4);
    padding: 10px;
    background: #11141d49;
    border-radius: 20px;
    border: .8px solid #848ca8;
    box-shadow: 0px 0px 10px 2px #5976918e;
    align-content: center;
    justify-items: center;

}

.hero-stack {
    width: 30vw;
    height: fit-content;

}

.stact-logo {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.stack-icon {
    transform: scale(1.2);
}

.hero-sub-newslatter {
    max-height: fit-content;
    min-height: 100px;
    width: 30vw;
}

.hero-client-das {
    width: 35vw;
    height: 130px;
    min-height: fit-content;

}

.count>p {
    font-size: clamp(12px, 2vw, 14px);
    margin: 5px 16px;
}

.count>h5 {
    text-align: center;
    font-size: clamp(16px, 2vw, 18px);
}

.news-sub-input {
    background: rgba(159, 158, 161, 0.422);
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #abc9e9;
}

.news-sub-label {
    font-size: 14px;
}

.news-sub-input:focus {
    outline: none;
}

.news-sub-input::placeholder {
    color: #abc9e9;
}

.news-sub-btn {
    background: transparent;
    font-size: 1.5rem;
    border: none;
}

.news-sub-btn>a {
    transition: .3s ease-in-out;
    color: #abc9e9;
    text-decoration: none;
}

.news-sub-btn>a:hover {
    color: #00aa8e;

}

.client-counts {
    display: flex;
    justify-content: center;
}

/* ====hero section right side hero-all-dashboard design END==== */

/* =====  Hero section hero-all-dashboard grid system  ===== */

.hero-area {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 0.5rem;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding-top: 4%;
}

.hero-main-image {
    grid-column: 1;
  grid-row: 1/4;

}

.hero-caption {
    grid-column: 2;
  grid-row: 1/3;
}

.hero-sub-newslatter {
    grid-column: 3/ -1;
    grid-row: span 1;
}

.hero-client-das {
    grid-row: 3/ span 4;
  grid-column: 2/3;
}

.hero-stack {
    grid-row: 3;
  grid-column: 3/ -1;
}

/* =====  Hero section grid system END  ===== */

/*==== Hero Section grid System Responsiv ==== */

@media (max-width : 780px) {

    .hero-section {
        height: 180vh;
        min-height: fit-content;
    }

    .hero-area {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .hero-main-image {
        grid-column: 1/1;
        grid-row: 1/ span 2;

    }

    .hero-caption {
        grid-column: 2/ span 2;
        grid-row: 1/ span 2;
        min-width: 45vw;

    }

    .hero-sub-newslatter {
        grid-column: 1/-1;
        grid-row: 4/5;
        min-width: 80vw;
    }

    .hero-client-das {
        grid-column: 1/1;
        grid-row: 3/4;
        margin-top: 20px;
        min-width: 40vw;
    }

    .hero-stack {
        grid-column: 2/-1;
        grid-row: 3 / 4;
        min-width: 45vw;

    }

    .client-counts {
        display: flex;
        flex-wrap: wrap;

    }
}



@media (max-width:450px) {
    .hero-section {
        height: 130vh;

    }

    .hero-area .hero-caption>p {
        font-size: clamp(10px, 2vw, 12px);
        width: 60%;
    }

    .hero-area .hero-main-image>img {
        min-width: 29vw;
    }

    .hero-area .hero-main-image {
        z-index: 1;
        transform: translateX(25vw);
    }

    .hero-area {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .hero-main-image {
        grid-column: 1/-1;
        grid-row: 2/ 2;

    }

    .hero-caption {
        grid-column: 1/-1;
        grid-row: 2/2;
        width: 90vw;

    }


    .hero-client-das {
        grid-column: 1/-1;
        grid-row: 3/3;
        margin-top: 20px;
        width: 90vw;
    }

    .hero-stack {
        grid-column: 1/-1;
        grid-row: 4/ 4;
        min-width: 90vw;

    }

    .client-counts {
        display: flex;
        flex-wrap: wrap;

    }

    .hero-sub-newslatter {
        grid-column: 1/-1;
        grid-row: 5/-1;
        width: 90vw;
    }

}

/*==== Hero Section grid System Responsiv END==== */


/*==== Hero section Style END====*/


/*==== sevice secltion ====*/
.services-area {
    display: flex;
    justify-content: space-around;
    height: 150vh;
    min-height: fit-content;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 20px;

}

.service-heading-area {
    margin-bottom: 25px;
}

.service-heading>h2 {
    font-size: clamp(30px, 4vw, 50px);
    color: var(--clr-text);
}

.service-heading>p {
    font-family: poppins, sans-serif;
    font-size: clamp(14px, 2vw, 16px);
    color: grey;
    margin-left: 10px;
    margin-top: 15px;
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.service {
    background: var(--gd-clr-second);
    height: 15rem;
    width: 15rem;
    border-radius: 5px;
    box-shadow: 2px 2px 26px rgba(0, 0, 0, 0.152);
}

.service>i {
    font-size: 30px;
    color: var(--clr-2ndbg);
}

.service>p {
    font-size: clamp(12px, 2vw, 14px);

}

.service>i,
.service>h3,
.service>p {
    margin: 20px;
}

.service>h3 {
    margin: 20px;
}



/* ===Services Section Responisve=== */
@media (max-width: 570px) {
    .service {
        max-height: 14rem;
        width: 42vw;
    }

    .service>i {
        font-size: clamp(20px, 2vw, 25px);
        color: var(--clr-2ndbg);
    }

    .service>p {
        font-size: clamp(10px, 2vw, 12px);

    }

    .service>h3 {
        font-size: clamp(15px, 2vw, 25px);

    }
}

@media (max-width:450px) {

    .services {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;

    }

    .service {
        max-height: 14rem;
        width: 80vw;
    }

    .service>p {
        font-size: clamp(12px, 2vw, 14px);

    }

    .service>h3 {
        font-size: clamp(16px, 2vw, 25px);

    }
}

/* ===Services Section Responisve=== END */

/* === Project section design === */
/* === Project section design END === */

/*==== sevice secltion End====*/


/*===== Self Introduction  ====*/
.intro_duction {
    background: var(--clr-2thbg);
    color: var(--clr-text);
    border: transparent;
    padding: 60px 0px;
    min-height: 60vh;
    width: 80vw;
    margin: 10px auto;



}

.intro_container {
    display: flex;
    justify-content: space-between;
    background: var(--clr-2ndbg);
    border-radius: 20px;
    transition: 1s;
    box-shadow: 0 0 0 1.2px rgba(255, 255, 255, 0.14);

}

.intro_container .in-img>img {
    padding: 20px;
    /* margin-left: 14%; */
    width: 200px;
    /* float: left; */
    border-radius: 40px;
}

.intro_container .pra {
    max-width: 50vw;
    margin: 2% 14% 0 0;
}

.intro_container .pra {
    color: var(--clr-text);
    font-size: clamp(4px, 2vw, 16px);

}

/*==== Self Introduction END =====*/



@media (max-width:910px) {
    .intro_container {
        display: flex;
        justify-content: space-around;
        margin: 10px auto;
        min-height: 100px;
        width: 90%;
        border-radius: 16px;
        transition: 1s;
    }

    .intro_container img {
        padding: 20px;
        width: 200px;
    }

}


@media (max-width: 450px) {
    .intro_container {
        display: flex;
    }

    /* .in-img {
    } */


    .pra {
        width: 100%;
        /* transform: translateX(80px); */
        font-size: 50px;
    }

    .pra>p {
        font-size: 10px;
        display: block;
        justify-content: center;


    }
}

.footer_main_container {
    border-radius: 10px;
    text-align: center;
    height: 40vh;
}

.footer_main_container .footer_heading {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.footer_main_container .footer_icon ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

/* footer social media text style */
.footer_main_container .footer_heading>h4 {
    margin: 0;
    margin-bottom: 20px;
    color: var(--clr-text);
}

/* footer icon style & display property fix */
.footer_main_container .footer_icon ul li {
    display: inline-block;
    margin: 0 8px;
    font-size: 30px;
}

.footer_main_container .footer_icon ul li a {
    color: var(--icon-clr);
}

/* footer social media icon 
    forground color & vertically center */
.footer_main_container.footer_icon li i {
    /* color: var(--icon-clr); */
    transition: 0.2s;
}

.footer_main_container .footer_icon li .fa-brands:hover {
    color: var(--clr-text2);
}

.footer_main_container .footer_icon p {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #5d5d5d;
}

/*